
.idea/workspace.xml
.idea/vcs.xml
.idea/preferred-vcs.xml
*.idea
.idea/*
.idea/workspace.xml
dir_to_ignore/ur_log
dir_to_ignore/.idea
dir_to_ignore/idea
idea/*
ur_log/*
URBasic/_pycache/*
adf.py
*.pyc
Archive/*
.DS_Store
.DS_Store
